:root {
    --x-4831-9d: rgba(72, 49, 157, 1);
    --x-1f-1d-47: rgba(31, 29, 71, 1);
    --c-42-7fb: rgba(196, 39, 251, 1);
    --e-0d-9ff: rgba(224, 217, 255, 1);
    --lightp: rgba(0, 0, 0, 1);
    --lights: rgba(60, 60, 67, 0.6);
    --lightt: rgba(60, 60, 67, 0.3);
    --lightq: rgba(60, 60, 67, 0.18);
    --darkp: rgba(255, 255, 255, 1);
    --darks: rgba(235, 235, 245, 0.6);
    --darkt: rgba(235, 235, 245, 0.3);
    --darkq: rgba(235, 235, 245, 0.18);
    --label-colordarksecondary: rgba(235, 235, 245, 0.6);
    --label-colordarkprimary: rgba(255, 255, 255, 1);
    --default-regular-caption2-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-caption2-font-weight: 400;
    --default-regular-caption2-font-size: 11px;
    --default-regular-caption2-letter-spacing: 0.06599999964237213px;
    --default-regular-caption2-line-height: 13px;
    --default-regular-caption2-font-style: normal;
    --default-regular-caption1-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-caption1-font-weight: 400;
    --default-regular-caption1-font-size: 12px;
    --default-regular-caption1-letter-spacing: 0px;
    --default-regular-caption1-line-height: 16px;
    --default-regular-caption1-font-style: normal;
    --default-regular-footnote-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-footnote-font-weight: 400;
    --default-regular-footnote-font-size: 13px;
    --default-regular-footnote-letter-spacing: -0.07800000160932541px;
    --default-regular-footnote-line-height: 18px;
    --default-regular-footnote-font-style: normal;
    --default-regular-subheadline-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-subheadline-font-weight: 400;
    --default-regular-subheadline-font-size: 15px;
    --default-regular-subheadline-letter-spacing: -0.23999999463558197px;
    --default-regular-subheadline-line-height: 20px;
    --default-regular-subheadline-font-style: normal;
    --default-regular-callout-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-callout-font-weight: 400;
    --default-regular-callout-font-size: 16px;
    --default-regular-callout-letter-spacing: -0.3199999928474426px;
    --default-regular-callout-line-height: 21px;
    --default-regular-callout-font-style: normal;
    --default-regular-body-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-body-font-weight: 400;
    --default-regular-body-font-size: 17px;
    --default-regular-body-letter-spacing: -0.40799999237060547px;
    --default-regular-body-line-height: 22px;
    --default-regular-body-font-style: normal;
    --default-regular-headline-font-family: "SFPro Display-SemiboldItalic", Helvetica;
    --default-regular-headline-font-weight: 400;
    --default-regular-headline-font-size: 17px;
    --default-regular-headline-letter-spacing: -0.40799999237060547px;
    --default-regular-headline-line-height: 22px;
    --default-regular-headline-font-style: italic;
    --default-regular-title3-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-title3-font-weight: 400;
    --default-regular-title3-font-size: 20px;
    --default-regular-title3-letter-spacing: 0.3799999952316284px;
    --default-regular-title3-line-height: 24px;
    --default-regular-title3-font-style: normal;
    --default-regular-title2-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-title2-font-weight: 400;
    --default-regular-title2-font-size: 22px;
    --default-regular-title2-letter-spacing: 0.3499999940395355px;
    --default-regular-title2-line-height: 28px;
    --default-regular-title2-font-style: normal;
    --default-regular-title1-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-title1-font-weight: 400;
    --default-regular-title1-font-size: 28px;
    --default-regular-title1-letter-spacing: 0.36399999260902405px;
    --default-regular-title1-line-height: 34px;
    --default-regular-title1-font-style: normal;
    --default-regular-largetitle-font-family: "SFPro Display-Regular", Helvetica;
    --default-regular-largetitle-font-weight: 400;
    --default-regular-largetitle-font-size: 34px;
    --default-regular-largetitle-letter-spacing: 0.37400001287460327px;
    --default-regular-largetitle-line-height: 41px;
    --default-regular-largetitle-font-style: normal;
    --default-bold-caption2-font-family: "SFPro Display-SemiboldItalic", Helvetica;
    --default-bold-caption2-font-weight: 400;
    --default-bold-caption2-font-size: 11px;
    --default-bold-caption2-letter-spacing: 0.05999999865889549px;
    --default-bold-caption2-line-height: 13px;
    --default-bold-caption2-font-style: italic;
    --default-bold-caption1-font-family: "SFPro Display-Medium", Helvetica;
    --default-bold-caption1-font-weight: 500;
    --default-bold-caption1-font-size: 12px;
    --default-bold-caption1-letter-spacing: 0px;
    --default-bold-caption1-line-height: 16px;
    --default-bold-caption1-font-style: normal;
    --default-bold-footnote-font-family: "SFPro Display-Semibold", Helvetica;
    --default-bold-footnote-font-weight: 400;
    --default-bold-footnote-font-size: 13px;
    --default-bold-footnote-letter-spacing: -0.07800000160932541px;
    --default-bold-footnote-line-height: 18px;
    --default-bold-footnote-font-style: normal;
    --default-bold-subheadline-font-family: "SFPro Display-Semibold", Helvetica;
    --default-bold-subheadline-font-weight: 400;
    --default-bold-subheadline-font-size: 15px;
    --default-bold-subheadline-letter-spacing: -0.5px;
    --default-bold-subheadline-line-height: 20px;
    --default-bold-subheadline-font-style: normal;
    --default-bold-callout-font-family: "SFPro Display-SemiboldItalic", Helvetica;
    --default-bold-callout-font-weight: 400;
    --default-bold-callout-font-size: 16px;
    --default-bold-callout-letter-spacing: -0.3199999928474426px;
    --default-bold-callout-line-height: 21px;
    --default-bold-callout-font-style: italic;
    --default-bold-body-font-family: "SFPro Display-SemiboldItalic", Helvetica;
    --default-bold-body-font-weight: 400;
    --default-bold-body-font-size: 17px;
    --default-bold-body-letter-spacing: -0.40799999237060547px;
    --default-bold-body-line-height: 22px;
    --default-bold-body-font-style: italic;
    --default-bold-headline-font-family: "SFPro Display-SemiboldItalic", Helvetica;
    --default-bold-headline-font-weight: 400;
    --default-bold-headline-font-size: 17px;
    --default-bold-headline-letter-spacing: -0.40799999237060547px;
    --default-bold-headline-line-height: 22px;
    --default-bold-headline-font-style: italic;
}